<div class="w3-margin">
	<div class="w3-half">
		<h3><%= @event.name %></h3>
		<h4 class="w3-opacity">Host: <%= @event.user.name.capitalize %> </h4>
		<h4 class="w3-opacity">Date: <%= @event.date %></h4>
		<h4 class="w3-opacity">Location: <%= @event.state %></h4>
		<h4 class="w3-opacity">People who are joining the event: <%= @event.users_joined.count %></h4>
	
		<table class="pure-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<% @event.users_joined.each do | event | %>
				<tr>
					<td><%= event.name %></td>
					<td><%= event.state %></td>
					<td><%= event.city %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>	

	<div class="w3-half w3-right w3-blue-grey w3-padding">
		<h5>Discussion about this event</h5>
		<div class="w3-card-8 w3-padding w3-white" >
			<% @event.comments.each do |comment| %>
				<p><b><%= comment.user.name %> says: </b><%= comment.content %></p>
			<% end %>
		</div>
		<h5>Add Comment</h5>
		<form class="w3-form" action="/comments" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="event_id" value="<%= @event.id %>">
			<textarea class="w3-input w3-text-black w3-border" name="content"></textarea>
			<input class="w3-btn w3-text-grey w3-sand w3-hover w3-margin-top" type="submit" value="Submit Comments">
		</form>
	</div>
</div>
